{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Список заказов</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Список заказов
                    </div>
                    <div class="card-body">
                        {% include 'adminapp/includes/inc__table_orders.html' %}
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
